html {
  font-size: 16px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #F4F1DE;
}

p {
  line-height: 2;
}

/* --Navigation Bar-- */

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: #81B29A;
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 1rem 0;
  margin: 0;
}

.nav-bar a {
  text-decoration: none;
  color: #3D405B;
  font-size: 1.3rem;
}

.nav-bar a:hover {
  color: #E07A5F;
}

.nav-bar li {
  width: 12rem;
  text-align: center;
}

/* --Banner Section-- */

.banner {
  background-image: url(../images/pink-blue-sky.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 85%;
  text-align: center;
  padding: 9rem 3rem 6rem;
  height: 40%;
  width: auto;
}

.banner h1 {
  font-family: 'Style Script', cursive;
  color: #F4F1DE;
  font-size: 4.5rem;
  margin: 2rem auto 0 auto;
  /* font-style: italic; */
}

.banner p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #F4F1DE;
}

.banner-images {
  position: relative;
}

/* Middle Container */

hr {
  border: none;
  border-top: dotted;
  border-width: 5px;
  text-align: center;
  width: 15%;
  color: #81b29a;
}

h2 {
  color: #e07a5f;
}

h3 {
  font-weight: bold;
}

.profile {
  margin: 4rem auto;
  width: 50%;
}

.middle-container, .bottom-container p {
  color: #3d405b;
}

.skill-row {
  width: 50%;
  margin: 3rem auto;
  text-align: left;
}

.coffee {
  width: 25%;
  float: left;
  margin-right: 1.3rem;
}

.art {
  width: 20%;
  float: right;
  margin-left: 1.3rem;
}

.skills {
  margin: 4rem auto;
}

/* Contact Me */

.contact-me {
  margin: 3rem 3rem;
}

.contact-me h3 {
  color: #e07a5f;
}

.contact-me button {
  margin: 2rem auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: #81b29a;
  color: #F4F1DE;
  border: none;
}

.btn:hover {
  background-color: #e07a5f;
}

/* Bottom Container */

.bottom-container {
  background-color: #81b29a;
  padding: 2rem;
  font-size: 1rem;
}

.bottom-container p {
  line-height: 0;
}

.footer-link {
  color: #F4F1DE;
  text-decoration: none;
  margin: 2rem;
  text-align: center;
}

.footer-link img {
  margin-right: 0.3rem;
}

.footer-link:hover {
  color: #e07a5f;
}

/* make footer links responsive */

.freepik {
  font-size: .75rem;
  color: #3d405b;
  padding: 1.5rem;
}

.freepik a {
  color: #3d405b;
}

/* Deleted for Angela's lesson

  .middle {
  background-color: #F2CC8F;
  width: auto;
  height: auto;
}

.middle p {
  text-align: center;
  font-size: 1.3rem;
  padding: 3em 5em;
  margin: 0;
}

.bottom {
  width: auto;
  height: 10em;
  display:flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.bottom div {
  width: 5rem;
  height: 5rem;
} */

/* Media Queries */

@media (max-width: 400px) {
  .nav-bar {
    flex-direction: column;
  }
}